# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Note: docs/ should be committed to share tokenomics documentation

# Dotenv file
.env
